// Define your base colors
$primary-color: #2a9d8f;
$secondary-color: #e9c46a;
$text-color: #264653;
$light-text-color: #f4f1de;
$bg-color: #f4f1de;
$accent-color: #e76f51;

$react-blue: #61dafb;
$vue-green: #42b883;
$aws-orange: #ff9900;
$typescript-blue: #3178c6;
$node-green: #339933;
$graphql-pink: #e10098;
