@import 'variables';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// Theme classes
.theme-light {
  --bg-primary: #{$light-bg-primary};
  --bg-secondary: #{$light-bg-secondary};
  --text-primary: #{$light-text-primary};
  --text-secondary: #{$light-text-secondary};
  --accent-color: #{$light-accent-color};
}

.theme-dark {
  --bg-primary: #{$dark-bg-primary};
  --bg-secondary: #{$dark-bg-secondary};
  --text-primary: #{$dark-text-primary};
  --text-secondary: #{$dark-text-secondary};
  //--accent-color: #{$dark-accent-color};
}

:root {
    --primary-color: #{$primary-color};
    --secondary-color: #{$secondary-color};
    --text-color: #{$text-color};
    --bg-color: #{$bg-color};
    --accent-color: #{$accent-color};
  }